<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet'>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet' /> -->
    <link href='/styles/coremain.css' rel='stylesheet'>
    <link href='/styles/daygridmain.css' rel='stylesheet'>
    <link href='/styles/fullcalendar.css' rel='stylesheet'>
    <link href='/styles/timegridmain.css' rel='stylesheet'>
    <!-- <link href='/styles/bootstrapmain.css' rel='stylesheet' /> -->
    <link href="/styles/styles.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src='/js/coremain.js'></script>
    <script src='/js/daygridmain.js'></script>
    <script src='/js/timegridmain.js'></script>
    <script src='/js/interactionmain.js'></script>
    <script src='/js/momentmain.js'></script>
    <script src='/js/fullcalendar.js'></script>
    <!-- <script src='/js/bootstrapmain.js'></script> -->
    <script src="/js/translation.js"></script>
    <script src="/js/tasks.js"></script>


    <title>Meeting Mate World Wide</title>
</head>

<body>
    <div class="row">

        <header class="header">
            <nav class="masthead">
                <div class="nav-wrapper teal lighten-4">
                    <div class="col s12 m8">

                        <img class="left" src="/assets/mmwwlogo.png" id="logo" alt="MMWW" style="height:60px">
                    </div>
                    <div class="col s12 m2">


                        <div class="input-field">

                            <input name="firstname" type="text" id="autocomplete-input" class="autocomplete username">
                            <label for="autocomplete-input">ENTER YOUR NAME</label>


                        </div>



                    </div>

                    <div class="col m2"><button class="btn waves-effect waves-light" type="submit" name="action"
                            id="submitName">ADD</button></div>

                </div>

            </nav>

        </header>
    </div>
    <div class="container">


        <div class="row">

            <div class="col s12 m4  yellow lighten-4 grey-text text-darken-4" style=" border-style: solid;
            border-width: 5px;
            border-color:#545454;
            overflow: auto;
            max-height: 500px; border-radius: 5px;
            margin-top: 75px;
            opacity: 0.95;">
                <div class="row">
                    <div class="col s12 center teal-text text-lighten-1">
                        <h4>TO DO LIST</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="row">
                            <div class="input-field col s12">

                                <input type="text" id="autocomplete-input" class="autocomplete todo-text">
                                <label for="autocomplete-input">Add to the Todo List</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="row">
                            <div class="input-field col s12">

                                <input type="text" id="autocomplete-input" class="autocomplete todo-description">
                                <label for="autocomplete-input">More details on the task</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <button class="btn waves-effect waves-light" type="submit" name="action" id="submit">ADD
                            <i class="material-icons right">add_to_photos</i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 todo-list">
                    </div>
                </div>
            </div>
            <div class="col m1"></div>

            <!-- chat box -->
            <div class="col m7" style=" border-style: solid;
            border-width: 5px;
            border-color:#545454;
            overflow: auto; border-radius: 5px;
            background: whitesmoke; opacity: 0.85;">
                <div class="row" style="margin-top:80px;">
                    <form class="create-form text-center">
                        <div class="form-group">
                            <input type="text" id="newName" placeholder="Text To Translate" class="center">
                        </div>
                        <button type="submit" class="btn btn-outline-dark center" id="translateButton">Translate</button>
                        <div id="languages" class="center"></div>
                        <script>
                            //An Object Holding The Different Languages And Their Codes
                            var langs = {
                                'auto': 'Automatic',
                                'af': 'Afrikaans',
                                'sq': 'Albanian',
                                'am': 'Amharic',
                                'ar': 'Arabic',
                                'hy': 'Armenian',
                                'az': 'Azerbaijani',
                                'eu': 'Basque',
                                'be': 'Belarusian',
                                'bn': 'Bengali',
                                'bs': 'Bosnian',
                                'bg': 'Bulgarian',
                                'ca': 'Catalan',
                                'ceb': 'Cebuano',
                                'ny': 'Chichewa',
                                'zh-cn': 'Chinese Simplified',
                                'zh-tw': 'Chinese Traditional',
                                'co': 'Corsican',
                                'hr': 'Croatian',
                                'cs': 'Czech',
                                'da': 'Danish',
                                'nl': 'Dutch',
                                'en': 'English',
                                'eo': 'Esperanto',
                                'et': 'Estonian',
                                'tl': 'Filipino',
                                'fi': 'Finnish',
                                'fr': 'French',
                                'fy': 'Frisian',
                                'gl': 'Galician',
                                'ka': 'Georgian',
                                'de': 'German',
                                'el': 'Greek',
                                'gu': 'Gujarati',
                                'ht': 'Haitian Creole',
                                'ha': 'Hausa',
                                'haw': 'Hawaiian',
                                'iw': 'Hebrew',
                                'hi': 'Hindi',
                                'hmn': 'Hmong',
                                'hu': 'Hungarian',
                                'is': 'Icelandic',
                                'ig': 'Igbo',
                                'id': 'Indonesian',
                                'ga': 'Irish',
                                'it': 'Italian',
                                'ja': 'Japanese',
                                'jw': 'Javanese',
                                'kn': 'Kannada',
                                'kk': 'Kazakh',
                                'km': 'Khmer',
                                'ko': 'Korean',
                                'ku': 'Kurdish (Kurmanji)',
                                'ky': 'Kyrgyz',
                                'lo': 'Lao',
                                'la': 'Latin',
                                'lv': 'Latvian',
                                'lt': 'Lithuanian',
                                'lb': 'Luxembourgish',
                                'mk': 'Macedonian',
                                'mg': 'Malagasy',
                                'ms': 'Malay',
                                'ml': 'Malayalam',
                                'mt': 'Maltese',
                                'mi': 'Maori',
                                'mr': 'Marathi',
                                'mn': 'Mongolian',
                                'my': 'Myanmar (Burmese)',
                                'ne': 'Nepali',
                                'no': 'Norwegian',
                                'ps': 'Pashto',
                                'fa': 'Persian',
                                'pl': 'Polish',
                                'pt': 'Portuguese',
                                'ma': 'Punjabi',
                                'ro': 'Romanian',
                                'ru': 'Russian',
                                'sm': 'Samoan',
                                'gd': 'Scots Gaelic',
                                'sr': 'Serbian',
                                'st': 'Sesotho',
                                'sn': 'Shona',
                                'sd': 'Sindhi',
                                'si': 'Sinhala',
                                'sk': 'Slovak',
                                'sl': 'Slovenian',
                                'so': 'Somali',
                                'es': 'Spanish',
                                'su': 'Sundanese',
                                'sw': 'Swahili',
                                'sv': 'Swedish',
                                'tg': 'Tajik',
                                'ta': 'Tamil',
                                'te': 'Telugu',
                                'th': 'Thai',
                                'tr': 'Turkish',
                                'uk': 'Ukrainian',
                                'ur': 'Urdu',
                                'uz': 'Uzbek',
                                'vi': 'Vietnamese',
                                'cy': 'Welsh',
                                'xh': 'Xhosa',
                                'yi': 'Yiddish',
                                'yo': 'Yoruba',
                                'zu': 'Zulu'
                            };

                            //Creating A Dropdown With All Of The Avaiable Languages
                            var langList = $("<select id='languageList'>");
                            $.each(langs, function (val, text) {
                                langList.append($("<option></option>").val(val).html(text));
                            });
                            $("#languages").append(langList);
                        </script>
                        <!-- Div To Hold The Translated Text -->
                        <div id="translated"></div>
                    </form>

                </div>
                <div class="row">
                    <div class="container chat">
                        <div class="row">
                            <div class="col s12 m12 chat-room">
                                <div class="input-field col s5 room-input">
                                    <input id="room_enter" type="text" class="validate">
                                    <label for="room_enter">Enter in a chat room number</label>
                                </div>
                                <div class="room-select"></div>
                                <div class="input-field col s7 room-select">
                                    <select>
                                        <option value="">Select a chat room</option>
                                        <option value="1">4539</option>
                                        <option value="2">1</option>
                                    </select>
                                    <label>Chat rooms</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card" id="chat-box-container">
                                <div class="row">
                                    <div class="col s12 m12">
                                        <div class="card-content chat-history">
                                            <table>
                                                <thead class="hide-table-header">
                                                    <tr>
                                                        <th>Sent by</th>
                                                        <th>Message</th>
                                                        <th>Sent on</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="left" id="chat-from">Sample from</td>
                                                        <td class="center" id="chat-message">Sample Text message</td>
                                                        <td class="right" id="chat-sent-date">8/10/19 2:00pm</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m12">
                                        <div class="chat-box">
                                            <form class="form" action="/" method=" POST">
                                                <input id="form-input" autocomplete="off" autofocus="on"
                                                    placeholder="type your message here..." /><button
                                                    class="btn waves-effect waves-light" type="submit" name="action"
                                                    id="form-button">SEND</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col s12 m4">
                <!-- I-FRAME -->
                <div id="containerworldTime">
                    <iframe src="https://freecurrencyrates.com/en/" width="992" height="500" scrolling="no"></iframe>
                </div>
            </div>

        </div>
    </div>

    <div id='calendar' style="background:whitesmoke; opacity: 0.875;">
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    plugins: ['interaction', 'dayGrid', 'timeGrid', 'bootstrap'],
                    timeZone: 'UTC',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay'
                    },
                    editable: true,
                    eventLimit: true,
                    views: {
                        timeGrid: {
                            eventLimit: 6 // adjust to 6 only for timeGridWeek/timeGridDay
                        },
                    },
                    eventTimeFormat: { // like '14:30:00'
                        hour: '2-digit',
                        minute: '2-digit',
                        second: '2-digit'
                    },
                    eventDrop: function (info) {
                        console.log(info)
                        alert(info.event.title + " was dropped on " + info.event.start
                            .toISOString());
                        if (!confirm("Are you sure about this change?")) {
                            info.revert();
                        }
                    },
                    dateClick: function (info) {
                        console.log(info)
                        var newEvent = prompt("Please add new event")
                        calendar.addEvent({
                            title: newEvent,
                            start: info.dateStr
                        });
                        newEvent.remove();
                    }
                });
                calendar.render();
                calendar.changeView('dayGridMonth');
                // API call db get all the events
                calendar.addEvent({
                    title: 'Emails',
                    start: '2019-08-15T11:30:00Z',
                    end: '2018-09-15T12:30:00Z'
                });
                calendar.addEvent({
                    title: 'Lunch',
                    start: '2019-08-15T12:30:00Z',
                    end: '2018-09-15T14:30:00Z'
                });
            });
        </script>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../public/js/calendarfunction.js"></script>
    <script>
        M.AutoInit();
    </script>

</body>

</html>