<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8' />
    <link href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet'>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet' />

    <link href='/Group-Project-2/public/assets/core/main.css' rel='stylesheet' />
    <link href='/Group-Project-2/public/assets/daygrid/main.css' rel='stylesheet' />
    <link href='/Group-Project-2/public/assets/fullcalendar/fullcalendar.css' rel='stylesheet' />
    <link href='/Group-Project-2/public/assets/timegrid/main.css' rel='stylesheet' />
    <link href='/Group-Project-2/public/assets/bootstrap/main.css' rel='stylesheet' />


    <script src='/Group-Project-2/public/assets/core/main.js'></script>
    <script src='/Group-Project-2/public/assets/daygrid/main.js'></script>
    <script src='/Group-Project-2/public/assets/timegrid/main.js'></script>
    <script src='/Group-Project-2/public/assets/interaction/main.js'></script>
    <script src='/Group-Project-2/public/assets/moment/main.js'></script>
    <script src='/Group-Project-2/public/assets/fullcalendar/fullCalendar.js'></script>
    <script src='/Group-Project-2/public/assets/bootstrap/main.js'></script>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid', 'timeGrid', 'bootstrap'],
                timeZone: 'UTC',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                editable: true,
                eventLimit: true,
                views: {
                    timeGrid: {
                        eventLimit: 6 // adjust to 6 only for timeGridWeek/timeGridDay
                    },

                },
                eventTimeFormat: { // like '14:30:00'
                    hour: '2-digit',
                    minute: '2-digit',
                    second: '2-digit'
                },
                eventDrop: function (info) {
                    console.log(info)
                    alert(info.event.title + " was dropped on " + info.event.start.toISOString());

                    if (!confirm("Are you sure about this change?")) {
                        info.revert();
                    }

                },
                dateClick: function (info) {
                    console.log(info)
                    var newEvent = prompt("Please add new event")
                    calendar.addEvent({ title: newEvent, start: info.dateStr });
                    newEvent.remove();

                }
            });
            calendar.render();

            calendar.changeView('dayGridMonth');
            // API call db get all the events
            calendar.addEvent({ title: 'Emails', start: '2019-08-15T11:30:00Z', end: '2018-09-15T12:30:00Z' });
            calendar.addEvent({ title: 'Lunch', start: '2019-08-15T12:30:00Z', end: '2018-09-15T14:30:00Z' });


        });

    </script>
</head>

<body>

    <div id='calendar' style=""></div>

</body>

</html>