

html { 
    background: url('/assets/deskbackground.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

;

.todo-wrapper {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    overflow: scroll;
    max-height: 500px;

}
/* 
body::-webkit-scrollbar {
    width: 5em;
    background-color: green;
    outline: 1px solid rgb(16, 84, 153);
} */

.check{
    left:10px;
}