/* White background: #F8F8F8
Grey from logo: #c6bdb4
Yellow from flower of background: #c6ce1c
grey-blue from teapot in background: #94b5ae
dark brown from coffee in background: #0a0200
dark grey from keyboard on background: #545454 */

* { 
  margin: 0;
  padding: 0; 
}

#username-display {
  align-content: center;
  margin-right: 10px;
  padding-right: 10px;
}

.chat-box-container {
  width 100%
  background-color: #94b5ae;
  border-color: #545454; 
  border-style: solid; 
  border-width: .5px;
  color:#0a0200;
  opacity: 0.9;
  margin: 5px;
  padding: 20px;
 }

.hide-table-header{
  visibility: hidden;
}
td
#chat-history {

}

#chat-box {
  /* min-width: inherit;
  background-color: #94b5ae;
  border-color: #545454; 
  border-style: solid; 
  border-width: .5px;
  color:#0a0200;  */
}

#form-input { 
   /* border-color: #545454; 
   border-style: solid; 
   border-width: .5px;
   background-color: #F8F8F8;
   color: #0a0200; */
  }
#form-button { 
  /* background: #c6bdb4; 
  border: none; 
  padding: 10px; 
  margin-left: 2%;
  font-size: 1.5rem; */
}

#messages { 
  list-style-type: none; 
  margin: 0; 
  padding: 0;
  background-color: #94b5ae;
  color: #0a0200; 
}
#messages li { 
  padding: 5px 10px; 
}

#messages li:nth-child(odd) { 
  background: #94b5ae; 
}

.list-group-item {
  line-height: 2.5;
}
